body {
  border: 4px solid red;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  border: 4px solid red;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  border: 4px solid red;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  border: 4px solid red;
  min-width: 300px;
  max-width: 300px;
  background: royalblue;
  box-sizing: border-box;
  font-size: 24px;
}

ul {
  border: 4px solid red;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  border: 4px solid red;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 48px;
}